body{
    background-color: darkolivegreen;
    color: white;
}
#login-div{
    border: 2px solid white;
    width: 40%;
    text-align: center;
    margin: auto;
    margin-top: 15%;
    padding: 10px 10px 30px 10px;
    
}
a{
    color: white;
}