doctype html 
html 
    head
        meta(name='viewport', content='width=device-width')
        link(rel="stylesheet", href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css")
        title= subject
    body 
        include partials/_nav 
        div.container.mt-2 
        div.container.mt-2 
            header 
                h2 Welcome
                p Home Page #{name}

            section 
                h2 Here is the body 
                p This is sample Paragraph 

            footer 
                h2 here is the footer 
                p 
                    a(href=link) Unsubscribe 